@import 'variables';

@mixin cross-browser-transitions-set {
    transition:             $transition-03;
    -webkit-transition:     $transition-03;
    -moz-transition:        $transition-03;
    -o-transition:          $transition-03;
}

@mixin cross-browser-rotate-set {
    transform:              $rotate-45-deg;
    -webkit-transform:      $rotate-45-deg;
    -moz-transform: 	    $rotate-45-deg;
    -ms-transform:          $rotate-45-deg;
    -o-transform:           $rotate-45-deg;
}

@mixin cross-browser-rotate-counter-set {
    transform:              $rotate-45-deg-counter;
    -webkit-transform:      $rotate-45-deg-counter;
    -moz-transform: 	    $rotate-45-deg-counter;
    -ms-transform:          $rotate-45-deg-counter;
    -o-transform:           $rotate-45-deg-counter;
}